.icon-star {
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    fill: none;
}

.icon-player {
    fill: currentColor;
}

.icon-circle {
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke: currentColor;
    fill: none;
}

.icon-views {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.icon-views-2 {
    fill: currentColor;
}

.icon-times {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.icon-times-2 {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
