//
// Loader
// ---------------------------


.is-opened,
.is-loading {
    overflow: hidden;
}

.fi-loader {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @extend %transition-opacity-fast;

    &.disabled {
        opacity: 0;
        pointer-events: none;
    }

    span {
        width: 100px;
        height: 100px;
        @extend %absolute-center;
    }
}
