//
// Page Not Found
// ---------------------------


.fi-404-container {
    text-align: center;
    padding: 100px 0;

    p {
        margin: 0 auto;
        text-align: center;
    }

    a {
        font-size: 1.4em;
    }
}
