//
// Search Page
// ---------------------------


.fi-search {

    .fi-video-list {
        max-height: 100%;
        border: none;
        padding: 0;
        box-shadow: none;

        li {
            float: left;
            width: 100%;
            overflow: hidden;
            position: relative;

            h3 {
                margin: 0;
                font-size: 1.8em;
            }

            .fi-video-views {
                margin-top: 20px;
            }
        }
    }
}

@media (min-width: 768px) {
    .fi-search {
        .fi-video-list {
            li {
                width: 50%;

                .fi-video-views {
                    position: absolute;
                    bottom: 2px;
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .fi-search {
        .fi-video-list {

            li {
                width: 33.3333%;
                height: 95px;

                img {
                    margin-top: -10px;
                    margin-bottom: -10px;
                }
            }
        }
    }
}
