//
// Navigation
// ---------------------------

.fi-header {
    background-color: $purple;
    height: 56px;
    position: relative;
    z-index: 2;

    .fi-wrap-header {
        width: 90vw;
        max-width: 952px;
        margin: 0 auto;
        padding: 10px 0;

        h1 {
            margin: 0;
            display: inline-block;
            width: 168px;
            height: 32px;
            font-size: 0;

            svg {
                fill: $white;
            }
        }
    }

    .fi-navbar {
        float: right;
        position: relative;
        margin-top: 5px;

        &:after {
            content: "";
            width: 100%;
            height: 20px;
            position: absolute;
            top: 100%;
        }

        &:hover {
            ul {
                opacity: 1;
                transform: translate3d(0,0,0);
                pointer-events: auto;
            }
        }

        .fi-hamburguer {
            cursor: pointer;
        }

        .fi-hamburguer-text {
            font-size: 1.6em;
            color: $white;
            font-weight: $regular;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        .fi-hamburguer-icon {
            width: 16px;
            height: 3px;
            display: inline-block;
            background: $white;
            position: relative;
            border-radius: 4px;

            &:before,
            &:after {
                content: "";
                width: 16px;
                height: 3px;
                background: $white;
                position: absolute;
                top: -6px;
                border-radius: 4px;
            }

            &:after {
                top: auto;
                bottom: -6px;
            }
        }

        ul {
            transition: transform .2s ease, opacity .6s ease;
            transform: translate3d(0,-10px,0);
            opacity: 0;
            position: absolute;
            top: 41px;
            right: -16px;
            background: $white;
            padding: 9px;
            border: 1px solid #c8c8c8;
            border-radius: 4px;
            width: 273px;
            pointer-events: none;
            z-index: 2;

            &:before,
            &:after {
                content: "";
                border: 8px solid transparent;
                border-bottom-color: $white;
                position: absolute;
                top: -16px;
                right: 16px;
            }

            &:before {
                border-bottom-color: #c8c8c8;
                top: -17px;
            }

            a {
                color: $gray;
                font-weight: $semiBold;
                width: 100%;
                display: block;
                border-radius: 4px;
                padding: 13px 16px;

                &:hover {
                    background-color: $grayHover;
                }

                &:active {
                    background-color: $grayPress;
                }

                .icon-svg {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    vertical-align: bottom;
                    margin-right: 4px;
                    color: $purple;
                }
            }
        }
    }

    a {
        color: $white;
        text-decoration: none;
    }
}
